@-webkit-keyframes pulse {
    0% {
        -webkit-filter: brightness(.3);
    }
    50% {
        -webkit-filter: brightness(1);
    }
    100% {
        -webkit-filter: brightness(.6);
    }
}

@keyframes pulse {
    0% {
        filter: brightness(.3);
    }
    50% {
        filter: brightness(.4);
    }
    100% {
        filter: brightness(.3);
    }
}
