.btn { border-radius: 0px }
/*Resets*/
.btn-primary {
    background-color: #b1b03d;
    color: #202326;
    border-color: transparent;
}
.btn-primary:hover {
    background-color: #b1b03d;
    border-color: #b1b03d;
    color: darkslategray;
    transition: color 300ms;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #b1b03d;
    color: #202326;
    border-color: transparent;
}

.btn-primary.focus, .btn-primary:focus {
    background-color: #b1b03d;
    color: #202326;
    border-color: transparent;
    box-shadow:0 0 0 0.2rem rgba(61,146,203,.5);
}
.global-main-btn {
    background-color: #b1b03d;
    color: #fcf8e3;
    font-size: 25px;
    padding: 15px 20px;
    margin-bottom: 30px;
}
/*Custom button styles*/
body {
    font-family: Arial, sans-serif;
    background-color: #e3e3e3;
}
.navbar-default {
    background-color: transparent;
    color: #000;
}
.navbar-default a.navbar-brand {
    color: #000;
    font-family: "Arial Black", sans-serif;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -2.3px;
    color: #a00525;
}
.navbar-default .navbar-nav {}
.navbar-default .navbar-nav .nav-item {}
.navbar-default .navbar-nav .nav-item a.nav-link {}
.navbar-default .navbar-nav .nav-item a.nav-link {
    color: #a00525;
    /*background-color: yellow;*/
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    text-shadow: #000000 0 0 2px;
}

.carousel-item {
    min-height: 600px;

    /*background-color: #000000;*/
}
.carousel-cover {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 90px #000;
    min-height: 600px;
    animation: pulse 3s infinite;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

.carousel-caption {
    position: absolute;
    top: 150px;
    /* right: 50%; */
    /* right: 200px; */
    /* bottom: 20px; */
    /* left: 50%; */
    z-index: 10;
    color: #fff;
    text-align: left;
    max-width: 666px;
}
.carousel-caption h5 {
    font-family: "Arial Black", sans-serif;
    letter-spacing: -2.33px;
    font-weight: 600;
    font-size: 32px;
    margin: 0;
}
.carousel-caption p {
    font-size: 14px;
}
.web-sidenav .dropdown-menu {
    border-radius: unset;
    border: unset;
    text-transform: uppercase;
    font-weight: 800;
    font-family: "Arial Black", sans-serif;
    font-size: 12px;
    letter-spacing: -0.4px;
}
/*section.heading {*/
/*    height: 300px;*/
/*    !*background-image: url('../img/mafiaiii_retaliation.png');*!*/
/*    background: linear-gradient(#004092, #020202, transparent), url('../img/mafiaiii_retaliation.png') no-repeat center;*/
/*    !*background-repeat: no-repeat;*!*/
/*    !*background-size: cover;*!*/
/*    !*background-position: center;*!*/
/*    box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8);*/
/*}*/
main.global {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    filter: blur(20%);
}
main.global .container, main.global .container-fluid {
    padding-top: 4rem;
}
